@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Black.ttf),
        url(./fonts/Roboto-Bold.ttf),
        url(./fonts/Roboto-Medium.ttf),
        url(./fonts/Roboto-Regular.ttf);
}

html, body {
    font-family: Roboto;
    height: 100%;
}