.task {
  background-color: #f3e5ab91;
  margin-bottom: 10px;
  padding: 5px 0.5%;
}

.task > h4 {
  padding-bottom: 10px;
}

.task > .icons {
  float: right;
}

.task > .icons > div {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: left;
}

.task > .icons > div:not(:last-child) {
  margin-right: 10px;
}

.task > .icons > .edit {
  height: 14px;
  width: 14px;
  background-image: url(../../img/edit.svg);
  background-size: 100%;
}

.task > .icons > .delete {
  height: 14px;
  width: 14px;
  background-image: url(../../img/delete.png);
  background-size: 207%;
}