.auth {
    text-align: center;
}

.auth h3 {
  font-size: 1.8em;
  font-weight: normal;
}

.auth > .auth-form-container {
    margin-top: 10px;
    display: inline-block;
}

.auth > .auth-form-container > .auth-form {
    text-align: left;
}

.auth > .auth-form-container > .auth-form button {
  width: 100%;
  background-color: #13ce66;
  border-color: #13ce66;
}

.auth .sign-up-note {
  font-size: 0.83em;
  text-align: left;
  margin-top: 12px;
}

.auth .sign-up-note a {
  float: right;
}