header {
  background-color: #55574e;
  width: 100%;
  padding: 12px var(--side-padding) 12px;
  float: left;
  position: fixed;
  z-index: 2000;
}

header h2 {
  color: #fff;
  float: left;
  cursor: pointer;
}

header button {
  float: right;
}